In [ ]:
pip install mlxtend

In [40]:
import pandas as pd
from mlxtend.frequent_patterns import apriori,association_rules
import warnings
warnings.filterwarnings('ignore')

In [42]:
titanic=pd.read_csv("Titanic.csv")
titanic.head()

  Class Gender    Age Survived
0   3rd   Male  Child       No
1   3rd   Male  Child       No
2   3rd   Male  Child       No
3   3rd   Male  Child       No
4   3rd   Male  Child       No

In [44]:
titanic['Class'].unique()

array(['3rd', '1st', '2nd', 'Crew'], dtype=object)

In [45]:
titanic['Survived'].unique()

array(['No', 'Yes'], dtype=object)

In [48]:
titanic['Class'].value_counts()

Class
Crew    885
3rd     706
1st     325
2nd     285
Name: count, dtype: int64

In [50]:
titanic['Gender'].value_counts()

Gender
Male      1731
Female     470
Name: count, dtype: int64

## Pre-Processing

In [53]:
df=pd.get_dummies(titanic,dtype=int)
df.head()

,Class_1st,Class_2nd,Class_3rd,Class_Crew,Gender_Female,Gender_Male,Age_Adult,Age_Child,Survived_No,Survived_Yes
0,0,0,1,0,0,1,0,1,1,0
1,0,0,1,0,0,1,0,1,1,0
2,0,0,1,0,0,1,0,1,1,0
3,0,0,1,0,0,1,0,1,1,0
4,0,0,1,0,0,1,0,1,1,0

In [55]:
## Apriori Algorithm

In [57]:
titanic.shape[0]

2201

In [70]:
frequent_itemsets=apriori(df,min_support=0.1,use_colnames=True)
frequent_itemsets

     support                                           itemsets
0   0.147660                                        (Class_1st)
1   0.129487                                        (Class_2nd)
2   0.320763                                        (Class_3rd)
3   0.402090                                       (Class_Crew)
4   0.213539                                    (Gender_Female)
5   0.786461                                      (Gender_Male)
6   0.950477                                        (Age_Adult)
7   0.676965                                      (Survived_No)
8   0.323035                                     (Survived_Yes)
9   0.144934                             (Age_Adult, Class_1st)
10  0.118582                             (Class_2nd, Age_Adult)
11  0.231713                           (Gender_Male, Class_3rd)
12  0.284871                             (Age_Adult, Class_3rd)
13  0.239891                           (Class_3rd, Survived_No)
14  0.391640                          (Gender_Male, Class_Crew)
15  0.402090                            (Age_Adult, Class_Crew)
16  0.305770                          (Class_Crew, Survived_No)
17  0.193094                         (Age_Adult, Gender_Female)
18  0.156293                      (Survived_Yes, Gender_Female)
19  0.757383                           (Gender_Male, Age_Adult)
20  0.619718                         (Gender_Male, Survived_No)
21  0.166742                        (Survived_Yes, Gender_Male)
22  0.653339                           (Age_Adult, Survived_No)
23  0.297138                          (Survived_Yes, Age_Adult)
24  0.209905                (Gender_Male, Class_3rd, Age_Adult)
25  0.191731              (Gender_Male, Class_3rd, Survived_No)
26  0.216265                (Age_Adult, Class_3rd, Survived_No)
27  0.391640               (Gender_Male, Class_Crew, Age_Adult)
28  0.304407             (Gender_Male, Class_Crew, Survived_No)
29  0.305770               (Age_Adult, Class_Crew, Survived_No)
30  0.143571           (Survived_Yes, Gender_Female, Age_Adult)
31  0.603816              (Gender_Male, Survived_No, Age_Adult)
32  0.153567             (Survived_Yes, Gender_Male, Age_Adult)
33  0.175829   (Gender_Male, Class_3rd, Survived_No, Age_Adult)
34  0.304407  (Gender_Male, Class_Crew, Survived_No, Age_Adult)

In [61]:
rules=association_rules(frequent_itemsets,metric="lift",min_threshold=1,num_itemsets=len(frequent_itemsets))
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(Gender_Male),(Age_Adult),0.786461,0.950477,0.757383,0.963027,1.013204,1.0,0.009870,1.339441,0.061028,0.773191,0.253420,0.879936
1,(Age_Adult),(Gender_Male),0.950477,0.786461,0.757383,0.796845,1.013204,1.0,0.009870,1.051116,0.263149,0.773191,0.048630,0.879936
2,(Gender_Male),(Survived_No),0.786461,0.676965,0.619718,0.787984,1.163995,1.0,0.087312,1.523634,0.659783,0.734518,0.343674,0.851710
3,(Survived_No),(Gender_Male),0.676965,0.786461,0.619718,0.915436,1.163995,1.0,0.087312,2.525187,0.436144,0.734518,0.603990,0.851710
4,(Age_Adult),(Survived_No),0.950477,0.676965,0.653339,0.687380,1.015386,1.0,0.009900,1.033317,0.305968,0.670709,0.032243,0.826241
5,(Survived_No),(Age_Adult),0.676965,0.950477,0.653339,0.965101,1.015386,1.0,0.009900,1.419023,0.046906,0.670709,0.295290,0.826241
6,"(Gender_Male, Survived_No)",(Age_Adult),0.619718,0.950477,0.603816,0.974340,1.025106,1.0,0.014788,1.929980,0.064404,0.624824,0.481860,0.804809
7,"(Gender_Male, Age_Adult)",(Survived_No),0.757383,0.676965,0.603816,0.797241,1.177669,1.0,0.091095,1.593193,0.621823,0.727024,0.372330,0.844593
8,"(Age_Adult, Survived_No)",(Gender_Male),0.653339,0.786461,0.603816,0.924200,1.175139,1.0,0.089991,2.817152,0.429921,0.722283,0.645032,0.845982
9,(Gender_Male),"(Age_Adult, Survived_No)",0.786461,0.653339,0.603816,0.767764,1.175139,1.0,0.089991,1.492710,0.697935,0.722283,0.330078,0.845982
10,(Survived_No),"(Gender_Male, Age_Adult)",0.676965,0.757383,0.603816,0.891946,1.177669,1.0,0.091095,2.245337,0.467023,0.727024,0.554633,0.844593
11,(Age_Adult),"(Gender_Male, Survived_No)",0.950477,0.619718,0.603816,0.635277,1.025106,1.0,0.014788,1.042660,0.494550,0.624824,0.040914,0.804809

In [63]:
rules.sort_values('lift',ascending=False)[0:20]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
7,"(Gender_Male, Age_Adult)",(Survived_No),0.757383,0.676965,0.603816,0.797241,1.177669,1.0,0.091095,1.593193,0.621823,0.727024,0.372330,0.844593
10,(Survived_No),"(Gender_Male, Age_Adult)",0.676965,0.757383,0.603816,0.891946,1.177669,1.0,0.091095,2.245337,0.467023,0.727024,0.554633,0.844593
8,"(Age_Adult, Survived_No)",(Gender_Male),0.653339,0.786461,0.603816,0.924200,1.175139,1.0,0.089991,2.817152,0.429921,0.722283,0.645032,0.845982
9,(Gender_Male),"(Age_Adult, Survived_No)",0.786461,0.653339,0.603816,0.767764,1.175139,1.0,0.089991,1.492710,0.697935,0.722283,0.330078,0.845982
2,(Gender_Male),(Survived_No),0.786461,0.676965,0.619718,0.787984,1.163995,1.0,0.087312,1.523634,0.659783,0.734518,0.343674,0.851710
3,(Survived_No),(Gender_Male),0.676965,0.786461,0.619718,0.915436,1.163995,1.0,0.087312,2.525187,0.436144,0.734518,0.603990,0.851710
6,"(Gender_Male, Survived_No)",(Age_Adult),0.619718,0.950477,0.603816,0.974340,1.025106,1.0,0.014788,1.929980,0.064404,0.624824,0.481860,0.804809
11,(Age_Adult),"(Gender_Male, Survived_No)",0.950477,0.619718,0.603816,0.635277,1.025106,1.0,0.014788,1.042660,0.494550,0.624824,0.040914,0.804809
5,(Survived_No),(Age_Adult),0.676965,0.950477,0.653339,0.965101,1.015386,1.0,0.009900,1.419023,0.046906,0.670709,0.295290,0.826241
4,(Age_Adult),(Survived_No),0.950477,0.676965,0.653339,0.687380,1.015386,1.0,0.009900,1.033317,0.305968,0.670709,0.032243,0.826241
0,(Gender_Male),(Age_Adult),0.786461,0.950477,0.757383,0.963027,1.013204,1.0,0.009870,1.339441,0.061028,0.773191,0.253420,0.879936
1,(Age_Adult),(Gender_Male),0.950477,0.786461,0.757383,0.796845,1.013204,1.0,0.009870,1.051116,0.263149,0.773191,0.048630,0.879936

## Apriori Algorithm

In [67]:
frequent_itemsets=apriori(df,min_support=0.1,use_colnames=True)
frequent_itemsets

     support                                           itemsets
0   0.147660                                        (Class_1st)
1   0.129487                                        (Class_2nd)
2   0.320763                                        (Class_3rd)
3   0.402090                                       (Class_Crew)
4   0.213539                                    (Gender_Female)
5   0.786461                                      (Gender_Male)
6   0.950477                                        (Age_Adult)
7   0.676965                                      (Survived_No)
8   0.323035                                     (Survived_Yes)
9   0.144934                             (Age_Adult, Class_1st)
10  0.118582                             (Class_2nd, Age_Adult)
11  0.231713                           (Gender_Male, Class_3rd)
12  0.284871                             (Age_Adult, Class_3rd)
13  0.239891                           (Class_3rd, Survived_No)
14  0.391640                          (Gender_Male, Class_Crew)
15  0.402090                            (Age_Adult, Class_Crew)
16  0.305770                          (Class_Crew, Survived_No)
17  0.193094                         (Age_Adult, Gender_Female)
18  0.156293                      (Survived_Yes, Gender_Female)
19  0.757383                           (Gender_Male, Age_Adult)
20  0.619718                         (Gender_Male, Survived_No)
21  0.166742                        (Survived_Yes, Gender_Male)
22  0.653339                           (Age_Adult, Survived_No)
23  0.297138                          (Survived_Yes, Age_Adult)
24  0.209905                (Gender_Male, Class_3rd, Age_Adult)
25  0.191731              (Gender_Male, Class_3rd, Survived_No)
26  0.216265                (Age_Adult, Class_3rd, Survived_No)
27  0.391640               (Gender_Male, Class_Crew, Age_Adult)
28  0.304407             (Gender_Male, Class_Crew, Survived_No)
29  0.305770               (Age_Adult, Class_Crew, Survived_No)
30  0.143571           (Survived_Yes, Gender_Female, Age_Adult)
31  0.603816              (Gender_Male, Survived_No, Age_Adult)
32  0.153567             (Survived_Yes, Gender_Male, Age_Adult)
33  0.175829   (Gender_Male, Class_3rd, Survived_No, Age_Adult)
34  0.304407  (Gender_Male, Class_Crew, Survived_No, Age_Adult)

In [72]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(Gender_Male),(Age_Adult),0.786461,0.950477,0.757383,0.963027,1.013204,1.0,0.009870,1.339441,0.061028,0.773191,0.253420,0.879936
1,(Age_Adult),(Gender_Male),0.950477,0.786461,0.757383,0.796845,1.013204,1.0,0.009870,1.051116,0.263149,0.773191,0.048630,0.879936
2,(Gender_Male),(Survived_No),0.786461,0.676965,0.619718,0.787984,1.163995,1.0,0.087312,1.523634,0.659783,0.734518,0.343674,0.851710
3,(Survived_No),(Gender_Male),0.676965,0.786461,0.619718,0.915436,1.163995,1.0,0.087312,2.525187,0.436144,0.734518,0.603990,0.851710
4,(Age_Adult),(Survived_No),0.950477,0.676965,0.653339,0.687380,1.015386,1.0,0.009900,1.033317,0.305968,0.670709,0.032243,0.826241
5,(Survived_No),(Age_Adult),0.676965,0.950477,0.653339,0.965101,1.015386,1.0,0.009900,1.419023,0.046906,0.670709,0.295290,0.826241
6,"(Gender_Male, Survived_No)",(Age_Adult),0.619718,0.950477,0.603816,0.974340,1.025106,1.0,0.014788,1.929980,0.064404,0.624824,0.481860,0.804809
7,"(Gender_Male, Age_Adult)",(Survived_No),0.757383,0.676965,0.603816,0.797241,1.177669,1.0,0.091095,1.593193,0.621823,0.727024,0.372330,0.844593
8,"(Age_Adult, Survived_No)",(Gender_Male),0.653339,0.786461,0.603816,0.924200,1.175139,1.0,0.089991,2.817152,0.429921,0.722283,0.645032,0.845982
9,(Gender_Male),"(Age_Adult, Survived_No)",0.786461,0.653339,0.603816,0.767764,1.175139,1.0,0.089991,1.492710,0.697935,0.722283,0.330078,0.845982
10,(Survived_No),"(Gender_Male, Age_Adult)",0.676965,0.757383,0.603816,0.891946,1.177669,1.0,0.091095,2.245337,0.467023,0.727024,0.554633,0.844593
11,(Age_Adult),"(Gender_Male, Survived_No)",0.950477,0.619718,0.603816,0.635277,1.025106,1.0,0.014788,1.042660,0.494550,0.624824,0.040914,0.804809